.code-toolbar .toolbar .toolbar-item * {
  background: white;
  color: black;
  padding: 5px 20px;
  margin-right: 4px;
  margin-top: 2px;
}

.code-toolbar code[class*="language-"], pre[class*="language-"] {
  text-shadow: 0 0 transparent;
}

.code-toolbar .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background-color: transparent;
}


